html, body
	height 100%


body
	font-size $fontSize
	line-height $lineHeight
	font-family AdventProRegular
	background-color #2c1e4a


a
	text-decoration none

	transition all .2s ease

	&:hover
		transition none
