.card
	animation scale-out 1s
	background-color rgba(50, 221, 249, 0.55)
	padding 16px
	flex-basis calc(50% - 50px)
	margin 5px
	margin-bottom 12px
	display flex
	flex-direction column
	justify-content space-between
	position relative
	image-bg('drower.jpg')
	background-size auto

	@media (max-width 1320px)
		flex-basis 100%
	@media (max-width 850px)
		flex-basis 20%
	@media (max-width 786px)
		flex-basis calc(50% - 50px)
	@media (max-width 550px)
		flex-basis 100%
	&__title
		color #fff
		font-size 24px
		line-height 1.25
		font-weight bold
	&__devider
		image-bg("divider.svg")
		width 206px
		height 12px
		margin-bottom 8px
		margin-top 8px
	&__video
		border 3px dashed rgba(255, 255, 255, .3)
@keyframes scale-out
	0%
		transform scale(0.7)
	100%
		transform scale(1)
