.pleer-list
	flex-basis 100%

	&__track-title
		padding 12px 16px
		color #ec45ef
		font-weight 600
		transition all ease .12s

		&:hover
			cursor pointer
			background-color #46f
			color #fff
			transition all ease .12s
