.track-info
	position  absolute
	padding  24px 12px
	bottom  0
	left  0
	background-color  rgba(0, 0, 0, 0.35)
	width  100%
	&__date
		color  #9de92f
		font-size  18px
		margin-bottom  12px
	&__title
		width  340px
		line-height  1.25
		color  #fff
		font-size  24px
